<!DOCTYPE html>
<html ng-app="myModule">
    <head>
        <meta charset="utf-8">
        <title>angular</title>
            <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js">
            </script>
            <script src="script.js"></script>
            <script src="service.js"></script>
    </head>
    <body>
        <div ng-controller="myController">
            Enter number: <input type="text" name="name" ng-model="textVal"/>
        <br/>
            <input type="button" name="name" ng-click="getSquare(textVal)" value="Get Square" >
            <br>
            Result :: {{output}}
        </div>

    </body>
</html>
